/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^================== */
/*^ Landing Section */
/* ^==================*/
.landing {
  margin-top: 2rem;
}

.landing__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing__left-title {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
}

.landing__left-title-word {
  color: #6571ff;
  background-image: -webkit-linear-gradient(315deg, #6571ff 6%, #25f6ff 54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 6rem;
}

.landing__left-text {
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  margin-top: 2rem;
}

.landing__left-button {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  border: none;
  outline: none;
  margin-top: 2rem;
  color: var(--white);
  background-color: var(--darkJungleGreen);
}

/* ^================== */
/*^ Benefit Section */
/* ^==================*/
.benefit {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.benefit__wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #263238;
  /* height: 10rem; */
  border-radius: 1rem;
  padding: 2rem;
}

.benefit__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 20rem;
}

.benefit__box-title {
  color: var(--white);
  font-size: 3.2rem;
  font-family: "inter-bold", Courier, monospace;
  padding-top: 1rem;
}

.benefit__box-text {
  font-size: 1rem;
  color: var(--white);
  margin-top: 1rem;
  font-family: "inter-medium", Courier, monospace;
}

.benefit__box:nth-child(1) {
  border-right: 2px solid #7782ff;
}
.benefit__box:nth-child(2) {
  border-right: 2px solid #ff5196;
}
.benefit__box:nth-child(3) {
  border-right: 2px solid #ffb04e;
}
.benefit__box:nth-child(4) {
  border-right: 2px solid #27caea;
}

/* ^================== */
/*^ Believe Section */
/* ^==================*/
.believe{
  margin-top: 10rem;
  margin-bottom: 10rem;
}


.believe__wrapper {
  display: flex;
  flex-direction: column;
}

.believe__top {
  display: flex;
  justify-content: space-around;
}

.believe__top-left--title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: capitalize;
}

.believe__top-left--word {
  color: #6571ff;
  background-image: -webkit-linear-gradient(315deg, #6571ff 6%, #25f6ff 54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.believe__top-right {
  display: flex;
  flex-direction: column;
}

.believe__top-right-title {
  font-size: 1.2rem;
  font-family: "inter-medium", Courier, monospace;
  color: #3485ff;
}

.believe__top-right-text {
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;
}

.believe__bottom{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.believe__bottom-box{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 16rem;
  padding: 1rem;
  transition: all 140ms ease-in;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.believe__bottom-box:hover{
  transform: scale(1.1);
}

.believe__bottom-box--top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.believe__bottom-box--top-number{
  font-size: 8rem;
  font-family: "inter-bold", Courier, monospace;
  opacity: 0.1;
  color: var(--boulder);

}

.believe__bottom-box--bottom{
  display: flex;
  flex-direction: column;
}

.believe__bottom-box--bottom-title{
  font-size: 1.2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-top: 1rem;

}

.believe__bottom-box--bottom-text{
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  margin-top: 1rem;
}