/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */


/* ^======================== */
/*^ Latest News Section */
/* ^========================*/
.latest-news{
  margin-top: 6rem;
}
.latest-news__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.latest-news__texts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-news__texts-search{
  width: 2rem;
  height: 2rem;
}


.latest-news__wrapper{
  position: relative;
}
.latest-news__shape3{
  position: absolute;
  right:1rem;
  z-index: -1;
}

.latest-news__texts-title{
  font-size: 4rem;
  font-family: 'inter-bold', Courier, monospace;
}

.latest-news__texts-text{
  font-family: 'inter-medium', Courier, monospace;
  line-height: 1.4rem;
  text-align: center;
  color: var(--boulder);
  margin-top: 1rem;
}

.latest-news__texts-inputbox{
  margin-top: 2rem;
  padding: 1.4rem 6rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color:#F5F5F5;
  font-family: 'inter-medium', Courier, monospace;
  font-size: 1.2rem;
}

.latest-news__texts-inputbox::placeholder{
  color: var(--darkJungleGreen);
}

.latest-news__texts{
  position: relative;
}

.latest-news__texts-search{
  position: absolute;
  right: 4rem;
  bottom: 1rem;
  cursor: pointer;
}