/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^======================== */
/*^ Latest News Section */
/* ^========================*/
.latest-news {
  margin-top: 6rem;
}
.latest-news__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.latest-news__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-news__texts-search {
  width: 2rem;
  height: 2rem;
}

.latest-news__wrapper {
  position: relative;
}
.latest-news__shape3 {
  position: absolute;
  right: 1rem;
  z-index: -1;
}

.latest-news__texts-title {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
}

.latest-news__texts-text {
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  text-align: center;
  color: var(--boulder);
  margin-top: 1rem;
}

.latest-news__texts-inputbox {
  margin-top: 2rem;
  padding: 1.4rem 6rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  font-family: "inter-medium", Courier, monospace;
  font-size: 1.2rem;
}

.latest-news__texts-inputbox::placeholder {
  color: var(--darkJungleGreen);
}

.latest-news__texts {
  position: relative;
}

.latest-news__texts-search {
  position: absolute;
  right: 4rem;
  bottom: 1rem;
  cursor: pointer;
}

/* ^========================== */
/*^ Latest Articles Section */
/* ^==========================*/
.latest-articles {
  margin-bottom: 8rem;
  margin-top: 18rem;
}

.latest-articles-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.latest-articles-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}
.latest-articles__wrapper {
  display: flex;
  justify-content: space-around;
}
.latest-articles__box {
  padding: 2rem;
  background-color: #f3f3f3;
  width: 28rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding-bottom: 2.5rem;
  margin-right: 2.7rem;
  margin-left: 2.7rem;
}
.latest-articles__box-img {
  width: 100%;
}

.latest-articles__box-data {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: var(--boulder);
}

.latest-articles__box-author {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 2px solid var(--boulder);
}

.latest-articles__box-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-top: 1rem;
  text-transform: capitalize;
  line-height: 1.4rem;
}

.latest-articles__box-text {
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;
}

.latest-articles__box-btn {
  background-color: red;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--cornFlower);
  color: var(--white);
  margin-top: 1rem;
}

.owl-next span,
.owl-prev span {
  font-size: 6rem;
  color: var(--cornFlower);
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav {
  display: flex;
}

.owl-prev,
.owl-next {
  margin: 0 auto;
}

.owl-nav button {
  background-color: red;
}

/* ^========================== */
/*^ Recent News Section */
/* ^==========================*/
.recent-news {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.recent-news__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.recent-news__title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.recent-news__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recent-news__box {
  background-color: #f3f3f3;
  width: 30rem;
  height: 28rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.recent-news__box-image {
  width: 100%;
}

.recent-news__box-date {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recent-news__box-date--name,
.recent-news__box-date--text {
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
}

.recent-news__box-date--text {
  margin-left: 2rem;
  border-left: 2px solid var(--boulder);
  padding-left: 1rem;
}

.recent-news__box-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.recent-news__box-text {
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: var(--boulder);
}
