/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
  --silver: #f3f3f3;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^======================== */
/*^ Blog Title Section */
/* ^========================*/

.blog-title {
  margin-top: 4rem;
}

.blog-title__wrapper {
  display: flex;
  flex-direction: column;
}

.blog-title__date {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  background-color: #d3f4e4;
  padding: 1rem;
  border-radius: 2rem;
}

.blog-title__date-name {
  color: #42b57e;
  font-family: "inter-bold", Courier, monospace;
}

.blog-title__date-release {
  color: #42b57e;
  margin-left: 1rem;
  border-left: 2px solid #42b57e;
  padding-left: 1rem;
  font-family: "inter-bold", Courier, monospace;
}

.blog-title__title {
  text-align: center;
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
  width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.blog-title__text {
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.blog-title__wrapper {
  position: relative;
}

.blog-title__icon1 {
  position: absolute;
  width: 12rem;
  height: 12rem;
  right: 4rem;
  top: 0;
}

.blog-title__icon2 {
  position: absolute;
  width: 12rem;
  height: 12rem;
  left: 2rem;
  bottom: 0;
}

/* ^======================== */
/*^ Blog Info Section */
/* ^========================*/
.blog-info {
  margin-top: 14rem;
}
.blog-info__wrapper {
  display: flex;
  flex-direction: column;
}

.blog-info__imagebox {
  background-image: url("../../assets/images/blog-info-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  background-size: 100% 100%;
}

.blog-info__image {
  width: 55rem;
  display: block;
  margin: 0 auto;
  margin-top: 8rem;
  border-radius: 2rem;
  box-shadow: rgba(184, 184, 215, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.blog-info__texts {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.blog-info__texts-text {
  width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1.4rem;
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
  text-transform: capitalize;
  text-align: justify;
}
.blog-info__texts-title {
  color: var(--darkJungleGreen);
  font-family: "inter-bold", Courier, monospace;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.blog-info__texts-list1,
.blog-info__texts-list2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: "inter-medium", Courier, monospace;
}

.blog-info__texts-list1-item {
  margin-bottom: 1rem;
  list-style-type: disc;
  color: var(--boulder);
}

.blog-info__texts-list2-item {
  margin-bottom: 1rem;
  list-style-type: decimal;
  color: var(--boulder);
}

.blog-info__texts-qoute {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 0 auto;
  background-color: #ae7cd3;
  height: 24rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.blog-info__texts-qoute-comma {
  padding-left: 2rem;
  font-size: 7rem;
  color: var(--white);
}

.blog-info__texts-qoute-text {
  padding-left: 2rem;
  color: var(--white);
  font-family: "inter-medium", Courier, monospace;
  font-size: 2rem;
  line-height: 2.2rem;
}


/* ^======================== */
/*^ Writer Section */
/* ^========================*/
.writer{
    /* height: 25rem; */
    margin-bottom: 14rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
}
.writer__wrapper{
    display: flex;
    justify-content: space-around;
    background-color: #263238;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
}


.writer__left-image{
    border-radius: 1rem;
    width: 14rem;
    height:14rem;
}

.writer__right{
    display: flex;
    flex-direction: column;
}

.writer__right__top{
    display: flex;
    justify-content: space-between;
}

.writer__right__top-info{
    display: flex;
    flex-direction: column;
}

.writer__right__top-info-name{
    color: var(--white);
    font-family: 'inter-bold', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.writer__right__top-info-job{
    color: var(--white);
    font-family: 'inter-medium', Courier, monospace;
    font-size: 1.2rem;
}

.writer__right__top-socials{
    display: flex;
    justify-content: space-around;
    margin-left:10rem;
}

.writer__right__top-socials span{
    margin-right: 2rem;
}

.writer__right__bottom{
    margin-top: 2rem;
}

.writer__right__bottom-text{
    color: var(--boulder);
    font-family: 'inter-medium', Courier, monospace;
    width: 34rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
}

.writer__right__top-socials span svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
}


.writer__right__top-socials-instagram svg ,.writer__right__top-socials-facebook svg ,.writer__right__top-socials-x svg ,.writer__right__top-socials-pinterest svg{
    transition: all 140ms ease-in;
}

.writer__right__top-socials-instagram svg:hover{
    fill: red;
    cursor: pointer;
    transform: scale(1.2);
}
.writer__right__top-socials-facebook svg:hover{
    fill: blue;
    cursor: pointer;
    transform: scale(1.2);
}
.writer__right__top-socials-x svg:hover{
    fill: rgb(27, 166, 231);
    cursor: pointer;
    transform: scale(1.2);
}
.writer__right__top-socials-pinterest svg:hover{
    fill: red;
    cursor: pointer;
    transform: scale(1.2);
}

/* !Comment Box */
.blog__comments-title{
  font-size: 2rem;
  font-family: 'inter-bold', Courier, monospace;
  margin-left: 1rem;

}
.blog__comments-title svg {
  width: 2rem;
  height: 2rem;
  color: var(--cornFlower);
}
.blog__comments__box{
  display: flex;
  flex-direction: column;
  width:60rem;
  margin: 0 auto;
  background-color: var(--silver);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.blog__comments__box-top{
  display: flex;
  align-items: center;
}

.blog__comments__box-top-right{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-family: 'inter-bold', Courier, monospace;
  text-transform: capitalize;
}
.blog__comments__box-top-right-role{
  margin-top: 0.5rem;
  color: var(--boulder);
}

.blog__comments__box-bottom{
  margin-top: 2rem;
}
.blog__comments__box-bottom-text{
  font-family: 'inter-medium', Courier, monospace;
  line-height: 1.4rem;

}


.blog__comments__input-btn{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'inter-bold', Courier, monospace;
  background-color: var(--cornFlower);
  color: var(--white);
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 140ms ease-in;
  cursor: pointer;
}
.blog__comments__input-btn:hover{
  transform: scale(1.02);
  background-color: var(--brightSkyBlue);
}

.blog__comments__box-top-left-image{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.blog__comments__input{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.blog__comments__input__left input{
  padding: 1rem 8rem;
  display: flex;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--silver);
  border: none;
  font-family: 'inter-medium', Courier, monospace;

}

.blog__comments__input__right textarea{
  width: 30rem;
  height: 20rem;
  font-family: 'inter-medium', Courier, monospace;
  border-radius: 1rem;
  outline: none;
  resize: none;
  padding: 2rem;
  background-color: var(--silver);
  border: none;
}

.blog__comments__input__right textarea::placeholder{
  font-family: 'inter-medium', Courier, monospace;
  font-size: 1.1rem;
}

