/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^======================== */
/*^ Touch Section */
/* ^========================*/

.touch {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.touch__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.touch__left {
  display: flex;
  flex-direction: column;
}

.touch__left__top {
  display: flex;
  align-items: center;
}

.touch__left__top-title {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: capitalize;
}

.touch__left__top-image {
  margin-left: 1rem;
  animation: scaleAnimation 2s ease-in-out infinite;

}

.touch__left__botttom-text {
  width: 30rem;
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.2rem;
  color: var(--boulder);
}

.touch__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.touch__right__phone,
.touch__right__email {
  padding: 1rem;
  width: 24rem;
  display: flex;
  align-items: center;
}
.touch__right__phone,
.touch__right__email {
  border: 1px solid #dadada;
  border-radius: 4rem;
}
.touch__right__phone {
  margin-bottom: 2rem;
}

.touch__right__phone-data,
.touch__right__email-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
}

.touch__right__phone-image,
.touch__right__email-image {
  width: 4rem;
  height: 4rem;
}

.touch__right__phone-data-title,
.touch__right__email-data-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 1rem;
}

.touch__right__phone-data-number,
.touch__right__email-data-email {
  font-family: "inter-medium", Courier, monospace;
  font-size: 1.2rem;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* ^======================== */
/*^ Form Section */
/* ^========================*/

.form {
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.form__wrapper {
  background-image: url("../../assets/images/Form.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__row1,
.form-input__row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.form-input__row1__name,
.form-input__row1__email,
.form-input__row2__company,
.form-input__row2__subject {
  display: flex;
  flex-direction: column;
}
.form-input__row1__name-label,
.form-input__row1__email-label,
.form-input__row2__company-label,
.form-input__row2__subject-label,
.form-input__row3-label {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: "inter-medium", Courier, monospace;
  text-transform: capitalize;
}

.form-input__row1__name-input,
.form-input__row1__email-input,
.form-input__row2__company-input,
.form-input__row2__subject-input {
  padding: 1rem 8rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form-input__row1__name-input::placeholder,
.form-input__row1__email-input::placeholder,
.form-input__row2__company-input::placeholder,
.form-input__row2__subject-input::placeholder {
  font-family: "inter-medium", Courier, monospace;
  color: var(--darkJungleGreen);
}

.form-input__row3-input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  resize: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.form-input__row3-input::placeholder {
  font-family: "inter-medium", Courier, monospace;
  text-transform: capitalize;
}

.form-input-btn {
  width: 14rem;
  height: 3.4rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: var(--darkJungleGreen);
  font-family: "inter-medium", Courier, monospace;
  color: var(--white);
}
