/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Header Section===== */
/* *=================================================== */

/* ^================== */
/*^ NavBar Section */
/* ^==================*/
.navbar {
  /* background-color: red; */
  padding-top: 2rem;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--boulder);
  padding-bottom: 1.4rem;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__right-list__item {
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 180ms ease-in;
}

.navbar__right-list__item:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: var(--cornFlower);
}
.navbar__right-list__item:hover .navbar__right-list__item-link {
  color: var(--white);
}

.navbar__left-logo {
  margin-right: 1rem;
  transition: all 140ms ease-in;
}

.navbar__left-logo:hover {
  transform: scale(1.2);
}

.navbar__left-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.navbar__right-list__item-link {
  font-family: "inter-medium", Courier, monospace;
  color: var(--darkJungleGreen);
}

/* ^====================== */
/*^ Mobile Menu Section */
/* ^======================*/
.mobile-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  background-color: var(--white);
  border: 2.5px solid var(--darkJungleGreen);
}
.mobile-menu-btn svg {
  width: 2rem;
  height: 2rem;
  color: var(--darkJungleGreen);
  cursor: pointer;
}

.mobile-menu {
  display: none;
  background-color: var(--brightSkyBlue);
  width: 30rem;
  text-align: center;
  height: 30rem;
  margin: 0 auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all 140ms ease-in;
}

.mobile-menu-list__item {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.mobile-menu-list__item-link {
  transition: all 140ms ease-in;
}

.mobile-menu-list__item-link:hover {
  color: var(--white);
  background-color: var(--cornFlower);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.mobile-menu-list__item-link {
  font-size: 1.2rem;
  font-family: "inter-medium", Courier, monospace;
  color: var(--darkJungleGreen);
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^================== */
/*^ Landing Section */
/* ^==================*/
.landing__wrapper{
  display: flex;
  flex-direction: column;
}

.landing-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  font-family: "inter-bold", Courier, monospace;
}

.landing-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.landing-text{
  text-align: center;
  color:#797979 ;
  font-family: "inter-medium", Courier, monospace;
  margin-top: 2rem;

}

.landing-btn{
  width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  transition: all 140ms ease-in;
  cursor: pointer;
}

.landing-btn:hover{
  background-color: var(--brightSkyBlue);
  color: var(--white);
}

.landing__wrapper img{
  width: 8rem;
}

.landing__wrapper{
  position: relative;
}
.landing-shape1{
  position: absolute;
  top: 24rem;
  left: 30rem;
}

.landing-shape2{
  position: absolute;
  right: 10rem;
  top: 10rem;
}

.landing-shape3{
  position: absolute;
  right: 20rem;
  top: 25rem;
}

.landing-shape4{
  position: absolute;
  left: 10rem;
  top: 10rem;
}