/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Header Section===== */
/* *=================================================== */

/* ^================== */
/*^ NavBar Section */
/* ^==================*/
.navbar {
  /* background-color: red; */
  padding-top: 2rem;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--boulder);
  padding-bottom: 1.4rem;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__right-list__item {
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 180ms ease-in;
}

.navbar__right-list__item:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: var(--cornFlower);
}
.navbar__right-list__item:hover .navbar__right-list__item-link {
  color: var(--white);
}

.navbar__left-logo {
  margin-right: 1rem;
  transition: all 140ms ease-in;
}

.navbar__left-logo:hover {
  transform: scale(1.2);
}

.navbar__left-text {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.navbar__right-list__item-link {
  font-family: "inter-medium", Courier, monospace;
  color: var(--darkJungleGreen);
}

/* ^====================== */
/*^ Mobile Menu Section */
/* ^======================*/
.mobile-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  background-color: var(--white);
  border: 2.5px solid var(--darkJungleGreen);
}
.mobile-menu-btn svg {
  width: 2rem;
  height: 2rem;
  color: var(--darkJungleGreen);
  cursor: pointer;
}

.mobile-menu {
  display: none;
  background-color: var(--brightSkyBlue);
  width: 30rem;
  text-align: center;
  height: 30rem;
  margin: 0 auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all 140ms ease-in;
}

.mobile-menu-list__item {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.mobile-menu-list__item-link {
  transition: all 140ms ease-in;
}

.mobile-menu-list__item-link:hover {
  color: var(--white);
  background-color: var(--cornFlower);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.mobile-menu-list__item-link {
  font-size: 1.2rem;
  font-family: "inter-medium", Courier, monospace;
  color: var(--darkJungleGreen);
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^================== */
/*^ Landing Section */
/* ^==================*/
.landing__wrapper {
  display: flex;
  flex-direction: column;
}

.landing-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  font-family: "inter-bold", Courier, monospace;
}

.landing-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.landing-text {
  text-align: center;
  color: #797979;
  font-family: "inter-medium", Courier, monospace;
  margin-top: 2rem;
}

.landing-btn {
  width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  transition: all 140ms ease-in;
  cursor: pointer;
}

.landing-btn:hover {
  background-color: var(--brightSkyBlue);
  color: var(--white);
}

.landing__wrapper img {
  width: 8rem;
}

.landing__wrapper {
  position: relative;
}
.landing-shape1 {
  position: absolute;
  top: 24rem;
  left: 30rem;
}

.landing-shape2 {
  position: absolute;
  right: 10rem;
  top: 10rem;
}

.landing-shape3 {
  position: absolute;
  right: 20rem;
  top: 25rem;
}

.landing-shape4 {
  position: absolute;
  left: 10rem;
  top: 10rem;
}

/* ^================== */
/*^ Statistics Section */
/* ^==================*/
.statistics {
  margin-top: 24rem;
  margin-bottom: 10rem;
}
.statistics__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.statistics__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.statistics__left-box {
  display: flex;
  align-items: center;
  /* background-color: red; */
  width: 20rem;
}

.statistics__left-box__left {
  font-size: 2.5rem;
  font-family: "inter-bold", Courier, monospace;
  font-weight: bolder;
}

.statistics__left-box__left-operator {
  color: #ff82be;
  font-size: 3.2rem;
}

.statistics__left-box__right {
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.statistics__left-box:nth-child(2) .statistics__left-box__left-operator {
  color: var(--brightSkyBlue);
}
.statistics__left-box:nth-child(3) .statistics__left-box__left-operator {
  color: var(--brightSkyBlue);
}

.statistics__right {
  width: 50%;
}

.statistics__right__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  width: 30rem;
  margin-left: 8rem;
}

.statistics__right__wrapper {
  background-color: #212326;
}

.statistics__right--right {
  background-color: #333539;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.statistics__right--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__right--left-bottom {
  color: var(--white);
  margin-top: 1rem;
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
}

/* ^================== */
/*^ Explore Section */
/* ^==================*/
.explore {
  margin-bottom: 8rem;
  background-color: #eaeef1;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.explore__wrapper {
  display: flex;
  justify-content: space-around;
}

.explore__left {
  width: 50%;
}

.explore__left-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.explore__left-title-word {
  color: #ff82be;
}

.explore__left-text {
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  margin-top: 1rem;
  line-height: 1.4rem;
}

.explore__left__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* background-color: red;
  width: 30rem; */
}

.explore__left-support {
  display: flex;
  align-items: center;
  background-color: #ffe1ed;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  color: #c5819c;
}

.explore__left-support svg {
  margin-right: 1rem;
}

.explore__left-secure {
  display: flex;
  align-items: center;
  background-color: #aaf1ff;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  color: #289ab0;
  margin-left: 1rem;
}

.explore__left-secure svg {
  margin-right: 1rem;
}

.explore__left-btn-start {
  display: flex;
  align-items: center;
  width: 8rem;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 2rem;
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.explore__right {
  width: 50%;
}

.explore__right {
  background-image: url("../../assets/images/explore.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.explore__right__wrapper {
  position: relative;
}
.explore__right-list {
  left: 0;
  right: 0;
  top: 2rem;
  border-radius: 1rem;
  position: absolute;
  background-color: var(--white);
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  padding: 1rem;
}

.explore__right-list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--boulder);
}

.explore__right-list-box:nth-child(4) {
  border: none;
}

.explore__right-list-box-logo img {
  width: 2.8rem;
  height: 2.8rem;
}

.explore__right-list-box-name {
  display: flex;
  flex-direction: column;
  /* margin-left: 0.2rem; */
  font-family: "inter-medium", Courier, monospace;
  font-size: 0.8rem;
}

.explore__right-list-box-name-title {
  margin-bottom: 0.5rem;
}

.explore__right-list-box-price {
  font-family: "inter-medium", Courier, monospace;
}

.explore__right-list-box-name-profits {
  display: flex;
  flex-direction: column;
  font-family: "inter-medium", Courier, monospace;
}

.explore__right-list-box-name-profit {
  margin-bottom: 0.5rem;
  color: #3eba59;
}

/* ^================== */
/*^ Brands Section */
/* ^==================*/
.brands {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.brands__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brands-row1,
.brands-row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.brands-row1 {
  margin-bottom: 2rem;
}

.brands-row1 svg,
.brands-row2 svg {
  transition: all 140ms ease-in;
}

.brands-row1 svg:hover {
  transform: scale(1.2);
}

.brands-row2 svg:hover {
  transform: scale(1.2);
}

/* ^================== */
/*^ Invest Section */
/* ^==================*/
.invest {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.invest__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.invest-title {
  text-align: center;
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.invest-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.invest-boxes {
  display: flex;
  justify-content: space-around;
}

.invest-box {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f3f3f3;
}

.invest-box__top-title,
.invest-box__bottom-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.invest-box__top-text,
.invest-box__bottom-text {
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.invest-box__top-link,
.invest-box__bottom-link {
  color: var(--cornFlower);
  font-family: "inter-medium", Courier, monospace;
}

.invest-box:nth-child(1) .invest-box__botom {
  margin-top: 4rem;
}
.invest-box:nth-child(2) .invest-box__top {
  margin-bottom: 4rem;
}
.invest-box:nth-child(3) .invest-box__bottom {
  margin-top: 4rem;
}

/* ^================== */
/*^ Choice Section */
/* ^==================*/
.choice {
  margin-bottom: 8rem;
  margin-top: 10rem;
  padding-bottom: 4rem;
}

.choice__wrapper {
  background: rgb(98, 214, 237);
  background: linear-gradient(
    90deg,
    rgba(98, 214, 237, 1) 11%,
    rgba(255, 178, 209, 1) 68%,
    rgba(255, 215, 165, 1) 95%
  );
  border-radius: 1rem;
  height: 40rem;
}

.choice-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  text-align: center;
  padding-top: 2rem;
}
.choice-text {
  text-align: center;
  margin-top: 1rem;
  font-family: "inter-medium", Courier, monospace;
}

.choice__wrapper {
  position: relative;
  z-index: -1;
}
.choice__window {
  position: absolute;
  background-color: var(--white);
  width: 70rem;
  height: 38rem;
  z-index: 1000;
  border-radius: 2rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.choice-window__wrapper {
  display: flex;
  flex-direction: column;
}

.choice__window-topbar {
  display: flex;
  margin: 0 auto;
  margin-right: 0;
  padding: 1rem;
}

.choice__window-topbar-green {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #5cd29a;
  border-radius: 2rem;
  margin-right: 0.5rem;
}
.choice__window-topbar-orange {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #ffb039;
  border-radius: 2rem;
  margin-right: 0.5rem;
}
.choice__window-topbar-red {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #ff6868;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.choice__window__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choice__window__bottom-right {
  display: flex;
  flex-direction: column;
}

.choice__window__bottom-right-tag {
  background-color: #ffe8cc;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #c0945e;
  font-family: "inter-medium", Courier, monospace;
}

.choice__window__bottom-right-rate {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-top: 1rem;
}

.choice__window__bottom-right-rate-text {
  font-size: 1rem;
  color: var(--cornFlower);
}

.choice__window__bottom-right-text {
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;
}

/* ^================== */
/*^ Featured Section */
/* ^==================*/
.featured {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.featured-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
}

.featured-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.featured__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.featured__box {
  width: 24rem;
  background-color: #f3f3f3;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  transition: all 140ms ease-in;
}

.featured__box:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.featured__box-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured__box-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 2rem;
}

.featured__box-text {
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
}

/* ^================== */
/*^ Trader Section */
/* ^==================*/

.trader-title {
  font-size: 2.4rem;
  text-align: center;
  font-family: "inter-bold", Courier, monospace;
}

.trader-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.trader__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.trader__right {
  width: 45%;
}

.trader__left {
  width: 45%;
  background: rgb(98, 214, 237);
  background: linear-gradient(
    90deg,
    rgba(98, 214, 237, 1) 11%,
    rgba(255, 178, 209, 1) 68%,
    rgba(255, 215, 165, 1) 95%
  );
  height: 30rem;
  border-radius: 1rem;
  padding: 1rem;
}

.trader__left-list {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 34rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 2rem;
  padding: 1rem;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.trader__left-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 100%;
  /* background-color: red; */
  padding: 0.5rem 0.2rem;
  border-radius: 1rem;
  font-family: "inter-medium", Courier, monospace;
  transition: all 140ms ease-in;
  cursor: pointer;
}

.trader__left-list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: 1.2rem;
}

.trader__left-list-item .trader__left-list-item-profit svg {
  fill: #3eba59;
}
.trader__left-list-item:nth-child(3) .trader__left-list-item-profit svg {
  fill: red;
}

.trader__left-list-item-profit svg {
  margin-left: 1rem;
}

.trader__left-list-item-profit {
  display: flex;
  align-items: center;
}
.trader__left-list-item-profit svg {
  width: 2rem;
  height: 2rem;
}

.trader__right {
  display: flex;
  flex-direction: column;
}

.trader__right-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--boulder);
  margin-bottom: 2rem;
}

.trader__right-box-right-title {
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
}

.trader__right-box-right-text {
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  color: var(--boulder);
  margin-top: 1rem;
}

/* ^================== */
/*^ Clients Section */
/* ^==================*/

.clients {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.clients__left-title {
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  text-transform: capitalize;
}

.clients__left-title-word {
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}

.clients__left-text {
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  margin-top: 1rem;
}

.clients__wrapper {
  display: flex;
  justify-content: space-around;
}

.clients__right-wrapper {
  display: flex;
  flex-direction: column;
}
.clients__right-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fffbf6;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 2rem;
  transition: all 140ms ease-in;
}

.clients__right-box:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.clients__right-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__right-box-top--left {
  display: flex;
  align-items: center;
}

.clients__right-box-top--left-texts {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.clients__right-box-top--left-texts-name {
  font-family: "inter-medium", Courier, monospace;
}

.clients__right-box-top--left-texts-job {
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  margin-top: 0.5rem;
}

.clients__right-box-bottom-text {
  font-family: "inter-medium", Courier, monospace;
  line-height: 1.4rem;
  margin-top: 2rem;
}


/* ^================== */
/*^ Articles Section */
/* ^==================*/
.articles{
  margin-bottom: 8rem;
}


.articles-title{
  font-size: 2rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 2rem;
}
.articles-title-word{
  color: #33e2ff;
  background-image: -webkit-linear-gradient(
    45deg,
    #33e2ff 3%,
    #6a93ff 43%,
    #fd5fb2 81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 3px 0px rgba(51, 226, 255, 0.44);
}
.articles__wrapper{
  display: flex;
  justify-content: space-around;
}
.articles__box{
  padding: 2rem;
  background-color: #F3F3F3;
  width:28rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding-bottom: 2.5rem;
  margin-right: 2.7rem;
  margin-left: 2.7rem;
}
.articles__box-img{
  width: 100%;
}

.articles__box-data{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: var(--boulder);
}

.articles__box-author{
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 2px solid var(--boulder);
}

.articles__box-title{
  font-size: 1.4rem;
  font-family: "inter-bold", Courier, monospace;
  margin-top: 1rem;
  text-transform: capitalize;
  line-height: 1.4rem;

}

.articles__box-text{
  font-family: "inter-medium", Courier, monospace;
  margin-top: 1rem;
  line-height: 1.4rem;

}

.articles__box-btn{
  background-color: red;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
 background-color: var(--cornFlower);
 color: var(--white);
 margin-top: 1rem;
}




.owl-next span,.owl-prev span{
  font-size: 6rem;
  color: var(--cornFlower);
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav{
  display: flex;
}

.owl-prev,.owl-next{
  margin: 0 auto;
}

.owl-nav button{
  background-color: red;
}


