/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^================== */
/*^ Privacy Section */
/* ^==================*/

.privacy {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.privacy__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.privacy__texts-date {
  background-color: #d3f4e4;
  padding: 0.5rem;
  border-radius: 2rem;
  display: block;
  width: 14rem;
  text-align: center;
  margin: 0 auto;
  color: #42b57e;
  font-family: "inter-bold", Courier, monospace;
  text-transform: capitalize;
}

.privacy__texts-title {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
  text-align: center;
  margin-top: 1rem;
}

.privacy__texts-text {
  text-align: center;
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  width: 34rem;
  font-size: 1, 2rem;
  margin-top: 2rem;
  line-height: 1.4rem;
}


/* ^====================== */
/*^ Privacy texts Section */
/* ^======================*/


.privacy-texts__wrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid var(--boulder);
  padding-top: 4rem;
}

.privacy-texts__title{
  font-size: 2rem;
  font-family: 'inter-bold', Courier, monospace;
  margin-bottom: 1rem;
}

.privacy-texts__text{
  font-family: 'inter-medium', Courier, monospace;
  text-align: justify;
  line-height: 1.4rem;
  color: var(--boulder);
  margin-bottom: 1rem;
}

.privacy-texts__text-highlight-black{
  font-family: 'inter-bold', Courier, monospace;
  color: var(--darkJungleGreen);
}

.privacy-texts__text-highlight-blue{
  font-family: 'inter-bold', Courier, monospace;
  color: var(--cornFlower);
}