/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /*! ====Explore Section==== */
  .explore__left {
    margin-left: 2rem;
  }
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    margin-right: 0.5rem;
  }
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 20rem;
  }
  .landing-shape3 {
    right: 25rem;
    top: 28rem;
  }
  .landing-shape1 {
    top: 22rem;
  }
  .landing-shape4 {
    top: 20rem;
  }

  /*! ====Statistics Section==== */
  .statistics__right {
    margin-right: 2rem;
  }
  .statistics__wrapper {
    flex-direction: column;
  }
  .statistics__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .statistics__right {
    width: 100%;
  }
  .statistics__right__wrapper {
    margin: 0 auto;
  }
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
}
/* *  ------------------------1085px------------------------ */
@media screen and (max-width: 1085px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 2rem;
  }
  .navbar__left {
    margin: 0 auto;
  }
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
  /*! ====Explore Section==== */
  .explore__wrapper {
    flex-direction: column;
  }
  .explore__left {
    text-align: center;
    width: 94%;
  }
  .explore__left__btns {
    width: 25rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .explore__left-btn-start {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .explore__right {
    width: 95%;
  }

  .explore__left-title {
    width: 30rem;
    margin: 0 auto;
  }
  .explore {
    height: 40rem;
  }
  .explore__right {
    margin: 0 auto;
  }
}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape4 {
    left: 4rem;
  }
  .landing-title {
    font-size: 3.5rem;
  }
}

/* *  ------------------------925px------------------------ */
@media screen and (max-width: 925px) {
}
/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
  /*! ====Brands Section==== */
  .brands-row1,
  .brands-row2 {
    flex-wrap: wrap;
  }
  .brands-row1 svg,
  .brands-row2 svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 30rem;
  }
  .landing-shape4 {
    top: 24rem;
    left: 2rem;
  }
  .landing-shape3 {
    top: 30rem;
  }
  .landing-text {
    width: 34rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing-title {
    font-size: 3rem;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
  /*! ====Landing Section==== */
  .landing-shape4 {
    top: 22rem;
    left: 8rem;
  }
  .landing-shape1 {
    left: 24rem;
  }
  .landing-title {
    font-size: 2.5rem;
  }
  .landing__wrapper img {
    width: 6rem;
  }
  .landing-shape2 {
    right: 10rem;
  }

  /*! ====Statistics Section==== */
  .statistics__left-box {
    text-align: center;
  }
  .statistics__left-box {
    justify-content: space-between;
  }
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
  /*! ====Landing Section==== */
  .landing-text {
    width: 28rem;
  }
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
}

/* *  ------------------------564px------------------------ */
@media screen and (max-width: 564px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 26rem;
  }
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
}

/* *  ------------------------545px------------------------ */
@media screen and (max-width: 545px) {
  /*! ====Landing Section==== */
  .landing-title {
    font-size: 2rem;
  }
  .landing-text {
    width: 24rem;
  }

  /*! ====Explore Section==== */
  .explore__left {
    width: 88%;
  }
  .explore__left-text {
    width: 24rem;
    margin: 0 auto;
    text-align: center;
  }
  .explore__left-title {
    width: 28rem;
  }
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 20rem;
  }

  /*! ====Landing Section==== */
  .landing-shape3 {
    left: 2.5rem;
  }
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape1 {
    left: 18rem;
  }
  .landing-title {
    font-size: 1.5rem;
  }
  .landing-text {
    width: 22rem;
  }
  .landing-shape4 {
    left: 2rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 18rem;
  }
  .explore {
    height: 88rem;
  }
  .explore__right-list {
    width: 20rem;
  }
  .explore__right-list-box {
    flex-direction: column;
    text-align: center;
  }
  .explore__right-list {
    height: 58rem;
  }
  .explore__left__btns {
    flex-direction: column;
    justify-content: center;
  }
  .explore__left-support {
    margin-bottom: 2rem;
  }
  .explore__left-btn-start {
    width: 14rem;
  }
  .explore__right-list {
    width: 18rem;
  }
  .explore__left__btns {
    width: 18rem;
  }
  .explore__left-text {
    width: 14rem;
  }
  .explore__right-list-box div {
    margin-bottom: 1rem;
  }
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 22rem;
  }
  .statistics__right--left-bottom {
    padding-bottom: 2rem;
  }
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 14rem;
  }
  .landing__wrapper img {
    width: 4.5rem;
  }
  .landing-text {
    width: 18rem;
    font-size: 0.8rem;
  }
  .landing-title {
    font-size: 1rem;
  }
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 18rem;
  }
  .statistics__left-box__left {
    font-size: 2rem;
  }
  .statistics__left-box {
    margin-right: 0.5rem;
  }
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
  /*! ====Explore Section==== */
  .explore__right-list {
    width: 14rem;
    margin: 0 auto;
  }
}

/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
}

/* *  ------------------------350px------------------------ */
@media screen and (max-width: 350px) {
  /*! ====Statistics Section==== */
  .statistics__left-box {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 14rem;
  }
  .statistics__left-box {
    width: 16rem;
  }

  /*! ====Explore Section==== */
  .explore__left__btns {
    width: 12rem;
  }

  /*! ====Brands Section==== */
  .brands-row1 svg,
  .brands-row2 svg {
    width: 6rem;
    height: 6rem;
  }
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 14rem;
  }

  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 12rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 16rem;
  }
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
  /*! ====Navbar Menu==== */
  .mobile-menu-btn {
    padding: 0.2rem 0.5rem;
  }
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 10rem;
  }
  .landing__wrapper img {
    width: 4rem;
  }
  .landing-text {
    width: 14rem;
  }
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
}
