/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /*! ====Explore Section==== */
  .explore__left {
    margin-left: 2rem;
  }

  /*! ====Featured Section==== */
  .featured-title {
    margin-left: 2rem;
  }

  /*! ====Articles Section==== */
  .articles-title {
    margin-left: 2rem;
  }

  /*! ====landing Section==== */
  .landing__left {
    margin-left: 2rem;
  }

  /*! ====Benefit Section==== */
  .benefit__wrapper {
    flex-wrap: wrap;
  }
  .benefit__wrapper {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .benefit__box {
    margin-bottom: 2rem;
  }
  /*! ====Believe Section==== */
  .believe__top {
    flex-direction: column;
  }
  .believe__top-left,
  .believe__top-right {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
  }
  .believe__bottom {
    flex-wrap: wrap;
  }
  .believe__bottom-box {
    margin-bottom: 2rem;
  }
  /*! ====Team Section==== */
  .team__boxes {
    flex-wrap: wrap;
  }

  /*! ====FAQS Section==== */
  .faqs-title1,
  .faqs-title2 {
    padding-left: 2rem;
  }
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    margin-right: 0.5rem;
  }
  /*! ====Invest Section==== */
  .invest-boxes {
    flex-wrap: wrap;
  }
  .invest-box {
    margin-bottom: 2rem;
  }

  /*! ====Trader Section==== */
  .trader__wrapper {
    flex-direction: column;
  }
  .trader__left {
    width: 80%;
    margin: 0 auto;
  }
  .trader__right {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /*! ====landing Section==== */
  .landing__wrapper {
    flex-direction: column;
  }
  .landing__left-title,
  .landing__left-text {
    text-align: center;
  }
  .landing__left-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  /*! ====Story Section==== */
  .story__top {
    padding-left: 2rem;
  }

  .story__bottom-image {
    width: 65rem;
  }
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 20rem;
  }
  .landing-shape3 {
    right: 25rem;
    top: 28rem;
  }
  .landing-shape1 {
    top: 22rem;
  }
  .landing-shape4 {
    top: 20rem;
  }

  /*! ====Statistics Section==== */
  .statistics__right {
    margin-right: 2rem;
  }
  .statistics__wrapper {
    flex-direction: column;
  }
  .statistics__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .statistics__right {
    width: 100%;
  }
  .statistics__right__wrapper {
    margin: 0 auto;
  }
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 20rem;
  }
  .pricing-image1 {
    padding-right: 2rem;
  }
}
/* *  ------------------------1085px------------------------ */
@media screen and (max-width: 1085px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 2rem;
  }
  .navbar__left {
    margin: 0 auto;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 60rem;
  }

  /*! ====Cards Section==== */
  .cards__bottom {
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 2rem;
  }
  .cards__top {
    flex-wrap: wrap;
  }
  .cards__top-box {
    margin-bottom: 2rem;
  }
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
  /*! ====Choice Section==== */
  .choice__window {
    width: 60rem;
  }
  /*! ====Clients Section==== */
  .clients__wrapper {
    flex-direction: column;
  }
  .clients__left-title,
  .clients__left-text {
    text-align: center;
    margin-bottom: 2rem;
  }
  .clients__right-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */
  .trusted-icon1 {
    width: 14rem;
    height: 14rem;
    right: 4rem;
    top: 18rem;
  }
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
  /*! ====Explore Section==== */
  .explore__wrapper {
    flex-direction: column;
  }
  .explore__left {
    text-align: center;
    width: 94%;
  }
  .explore__left__btns {
    width: 25rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .explore__left-btn-start {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .explore__right {
    width: 95%;
  }

  .explore__left-title {
    width: 30rem;
    margin: 0 auto;
  }
  .explore {
    height: 40rem;
  }
  .explore__right {
    margin: 0 auto;
  }

  /*! ====Choice Section==== */
  .choice__window__bottom-left-img {
    width: 20rem;
  }
  .choice__window {
    width: 50rem;
  }

  /*! ====Trusted Section==== */
  .trusted-icon5 {
    width: 20rem;
    /* height: 10rem; */
  }
  .trusted-icon4 {
    width: 30rem;
  }
  .trusted-icon2 {
    width: 4rem;
    height: 4rem;
  }
  .trusted-icon3 {
    width: 8rem;
    height: 8rem;
  }
  .trusted-title {
    font-size: 1.8rem;
  }
  /*! ====landing Section==== */
  .landing__bottom-image {
    width: 50rem;
  }

  /*! ====Story Section==== */
  .story__bottom-image {
    width: 55rem;
  }
}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 15rem;
  }
}

/* *  ------------------------914px------------------------ */
@media screen and (max-width: 914px) {
  /*! ====Featured Section==== */
  .featured__box {
    width: 40rem;
  }
  .featured__box {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 55rem;
  }
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape4 {
    left: 4rem;
  }
  .landing-title {
    font-size: 3.5rem;
  }
}

/* *  ------------------------925px------------------------ */
@media screen and (max-width: 925px) {
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 50rem;
  }
}
/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
  /*! ====Brands Section==== */
  .brands-row1,
  .brands-row2 {
    flex-wrap: wrap;
  }
  .brands-row1 svg,
  .brands-row2 svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  /*! ====Footer Top Section==== */
  .footer-top__wrapper {
    flex-direction: column;
  }
  .footer-top__left {
    margin: 0 auto;
  }
  .footer-top__left-logo {
    width: 10rem;
    margin: 0 auto;
  }
  .footer-top__left-text {
    text-align: center;
  }
  .footer-top__right {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
  /*! ====Choice Section==== */
  .choice__window__bottom {
    flex-direction: column;
  }
  .choice__window__bottom-right-tag {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .choice__window__bottom-right-rate {
    text-align: center;
  }
  .choice__window__bottom-right-text {
    text-align: center;
  }
  .choice__window {
    width: 40rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 45rem;
  }
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
  /*! ====Footer Main Section==== */
  .footer-main__wrapper {
    flex-wrap: wrap;
  }
  /*! ====landing Section==== */
  .landing__right-image {
    width: 30rem;
  }
  .landing__left-title {
    font-size: 3.5rem;
  }
  .landing__left-text {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 12rem;
  }

  /*! ====FAQS Section==== */
  .accordion {
    font-size: 1.1rem;
  }
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 30rem;
  }
  .landing-shape4 {
    top: 24rem;
    left: 2rem;
  }
  .landing-shape3 {
    top: 30rem;
  }
  .landing-text {
    width: 34rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing-title {
    font-size: 3rem;
  }
  /*! ====Featured Section==== */
  .featured__box {
    width: 35rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 25rem;
  }
  .trader__right-box {
    flex-direction: column;
  }
  .trader__right-box-right-title {
    display: block;
    text-align: center;
  }
  .trader__right-box-right-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */

  .trusted-title {
    width: 30rem;
    text-align: center;
  }
  .trusted-icon1 {
    top: 22rem;
  }
  .trusted__form-input {
    width: 24rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 40rem;
  }
}

/* *  ------------------------700px------------------------ */
@media screen and (max-width: 700px) {
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 34rem;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
}

/* *  ------------------------680px------------------------ */
@media screen and (max-width: 680px) {
  /*! ====Footer Main Section==== */
  .footer-main__column1 {
    width: 40%;
    text-align: center;
  }
  .footer-main__column2 {
    width: 40%;
    text-align: center;
  }
  .footer-main__column1-item {
    text-align: center;
  }
  .footer-main__column3 {
    margin-top: 2rem;
  }
  .footer-main__column3-title {
    display: block;
    text-align: center;
  }
  .footer-main__column3-text {
    text-align: center;
  }

  /*! ====Story Section==== */
  .story__bottom-image {
    width: 35rem;
  }
  .story__top {
    text-align: center;
  }
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
  /*! ====Landing Section==== */
  .landing-shape4 {
    top: 22rem;
    left: 8rem;
  }
  .landing-shape1 {
    left: 24rem;
  }
  .landing-title {
    font-size: 2.5rem;
  }
  .landing__wrapper img {
    width: 6rem;
  }
  .landing-shape2 {
    right: 10rem;
  }

  /*! ====Statistics Section==== */
  .statistics__left-box {
    text-align: center;
  }
  .statistics__left-box {
    justify-content: space-between;
  }

  /*! ====Choice Section==== */
  .choice__window {
    width: 30rem;
  }

  /*! ====Featured Section==== */
  .featured__box {
    width: 30rem;
  }

  /*! ====Pricing Section==== */
  .pricing__wrapper {
    flex-direction: column;
  }
  .pricing-texts {
    order: 1;
  }
  .pricing-image1 {
    order: 2;
  }
  .pricing-image2 {
    order: 3;
  }
  .pricing-text {
    width: 25rem;
  }
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
  /*! ====Landing Section==== */
  .landing-text {
    width: 28rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 30rem;
  }
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
  /*! ====Featured Section==== */
  .featured__box {
    width: 25rem;
  }
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 28rem;
  }
  /*! ====Story Section==== */
  .story__top-title {
    font-size: 1.5rem;
  }
  .story__top-subtitle {
    font-size: 1rem;
  }
}

/* *  ------------------------564px------------------------ */
@media screen and (max-width: 564px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 26rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 3rem;
  }
  .landing__right-image {
    width: 25rem;
  }
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
  /*! ====Articles Section==== */
  .articles__box {
    width: 20rem;
    height: 28rem;
  }
  .articles__box-title {
    font-size: 1.2rem;
  }
  .articles__box-text {
    font-size: 0.9rem;
  }
}

/* *  ------------------------545px------------------------ */
@media screen and (max-width: 545px) {
  /*! ====Landing Section==== */
  .landing-title {
    font-size: 2rem;
  }
  .landing-text {
    width: 24rem;
  }

  /*! ====Explore Section==== */
  .explore__left {
    width: 88%;
  }
  .explore__left-text {
    width: 24rem;
    margin: 0 auto;
    text-align: center;
  }
  .explore__left-title {
    width: 28rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 20rem;
  }
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
  /*! ====Featured Section==== */
  .featured-title {
    font-size: 1.8rem;
  }
  /*! ====Clients Section==== */
  .clients__left-text {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */
  .trusted__form-input {
    width: 20rem;
  }
  .trusted-icon1 {
    width: 10rem;
    height: 10rem;
  }
  .trusted-icon3 {
    width: 5rem;
    height: 5rem;
    right: 2rem;
  }
  .trusted-title {
    width: 25rem;
    font-size: 1.2rem;
  }
  .trusted-title-line3-image {
    width: 2.5rem;
    height: 2.5rem;
  }
  .trusted-icon4 {
    width: 18rem;
  }
  .trusted-icon5 {
    width: 14rem;
  }
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
  /*! ====Footer Bottom Section==== */
  .footer-bottom-text {
    line-height: 1.4rem;
  }
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
  /*! ====Footer Top Section==== */
  .footer-top__left-text {
    width: 25rem;
  }
  /*! ====Footer Main Section==== */
  .footer-main__column1,
  .footer-main__column2 {
    width: 100%;
  }
  .footer-main__column3-text {
    width: 22rem;
    /* text-align: center; */
    margin: 0 auto;
  }
  .footer-main__column3-notif {
    width: 20rem;
  }
  .footer-main__column3-text {
    margin-top: 2rem;
  }
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 20rem;
  }

  /*! ====Landing Section==== */
  .landing-shape3 {
    left: 2.5rem;
  }
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape1 {
    left: 18rem;
  }
  .landing-title {
    font-size: 1.5rem;
  }
  .landing-text {
    width: 22rem;
  }
  .landing-shape4 {
    left: 2rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 18rem;
  }
  .explore {
    height: 88rem;
  }
  .explore__right-list {
    width: 20rem;
  }
  .explore__right-list-box {
    flex-direction: column;
    text-align: center;
  }
  .explore__right-list {
    height: 58rem;
  }
  .explore__left__btns {
    flex-direction: column;
    justify-content: center;
  }
  .explore__left-support {
    margin-bottom: 2rem;
  }
  .explore__left-btn-start {
    width: 14rem;
  }
  .explore__right-list {
    width: 18rem;
  }
  .explore__left__btns {
    width: 18rem;
  }
  .explore__left-text {
    width: 14rem;
  }
  .explore__right-list-box div {
    margin-bottom: 1rem;
  }

  /*! ====Choice Section==== */
  .choice__window__bottom-left-img {
    width: 14rem;
  }
  .choice__window {
    width: 25rem;
  }
  .choice__window__bottom-right-rate {
    font-size: 2rem;
  }
  .choice__window__bottom-right-text {
    width: 14rem;
  }

  /*! ====Featured Section==== */
  .featured__box {
    width: 20rem;
  }

  .featured-title {
    font-size: 1.4rem;
  }

  /*! ====Clients Section==== */
  .clients__right-box-top {
    flex-direction: column;
  }
  .clients__right-box-top--right {
    margin-top: 1rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 2.5rem;
  }
  .landing__right-image {
    width: 20rem;
  }

  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 25rem;
  }
  .believe__bottom-box {
    width: 20rem;
    height: 18rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 20rem;
  }
  .story__top-text {
    font-size: 0.9rem;
  }
}

/* *  ------------------------460px------------------------ */
@media screen and (max-width: 460px) {
  /*! ====Articles Section==== */
  .articles-title {
    font-size: 1.4rem;
  }
  /*! ====Trusted Section==== */
  .trusted__form-input {
    width: 14rem;
  }
  .trusted-icon5 {
    width: 10rem;
    /* height: 10rem; */
  }
  .trusted-icon4 {
    width: 10rem;
  }
  .trusted-title {
    width: 20rem;
    font-size: 1rem;
  }
  .trusted__form-btn {
    font-size: 1rem;
  }
  .trusted__form-input {
    width: 12rem;
  }
  .trusted__form-input::placeholder {
    font-size: 1rem;
  }
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 22rem;
  }
  .statistics__right--left-bottom {
    padding-bottom: 2rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 14rem;
  }
  .trader__left-list-item-name {
    font-size: 0.9rem;
  }
  .trader__left-list-item {
    flex-direction: column;
    align-items: center;
  }
  .trader__left-list {
    height: 30rem;
  }
  .trader__left {
    height: 40rem;
  }
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
  /*! ====Invest Section==== */
  .invest-title {
    font-size: 1.5rem;
  }
  .invest-boxes {
    width: 100%;
  }
  .invest-box {
    width: 18rem;
  }
  .invest-box__bottom svg,
  .invest-box__top svg {
    width: 100%;
  }

  /*! ====Choice Section==== */
  .choice__window {
    width: 20rem;
  }
  /*! ====Footer Top Section==== */

  .footer-top__right-icons {
    flex-wrap: wrap;
  }
  .footer-top__left-text {
    width: 18rem;
  }
  .footer-top__right {
    flex-direction: column;
  }
  .footer-top__right-icons {
    margin-top: 1rem;
  }

  /*! ====Footer Main Section==== */
  .footer-main__column3-notif {
    width: 14rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .footer-main__column3-text {
    width: 14rem;
  }

  /*! ====Benefit Section==== */
  .benefit__box-title {
    font-size: 2rem;
  }
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 20rem;
  }
  .believe__bottom-box {
    width: 16rem;
    height: 20rem;
  }
  .believe__bottom-box--top-number {
    font-size: 5em;
  }
  .believe__top-left--title {
    font-size: 1.4rem;
  }

  /*! ====Team Section==== */
  .team-title {
    font-size: 1.6rem;
  }
  .team__box {
    margin: 0 auto;
    margin-top: 1rem;
  }
  /*! ====Pricing Section==== */
  .pricing-text {
    width: 14rem;
  }
  .pricing-title {
    font-size: 2.5rem;
  }
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 14rem;
  }
  .landing__wrapper img {
    width: 4.5rem;
  }
  .landing-text {
    width: 18rem;
    font-size: 0.8rem;
  }
  .landing-title {
    font-size: 1rem;
  }
  /*! ====Featured Section==== */
  .featured__box {
    width: 15rem;
  }
  /*! ====Articles Section==== */
  .articles__box {
    width: 16rem;
    height: 28rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 2rem;
  }
  .landing__right-image {
    width: 14rem;
  }
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 18rem;
  }
  .statistics__left-box__left {
    font-size: 2rem;
  }
  .statistics__left-box {
    margin-right: 0.5rem;
  }

  /*! ====Featured Section==== */
  .featured-title {
    font-size: 1.2rem;
  }
  /*! ====Cards Section==== */
  .cards__top-box-text {
    font-size: 0.8rem;
  }
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
  /*! ====Explore Section==== */
  .explore__right-list {
    width: 14rem;
    margin: 0 auto;
  }
}

/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
}

/* *  ------------------------350px------------------------ */
@media screen and (max-width: 350px) {
  /*! ====Statistics Section==== */
  .statistics__left-box {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 14rem;
  }
  .statistics__left-box {
    width: 16rem;
  }

  /*! ====Explore Section==== */
  .explore__left__btns {
    width: 12rem;
  }

  /*! ====Brands Section==== */
  .brands-row1 svg,
  .brands-row2 svg {
    width: 6rem;
    height: 6rem;
  }
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 14rem;
  }

  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 12rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 16rem;
  }
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
  /*! ====Navbar Menu==== */
  .mobile-menu-btn {
    padding: 0.2rem 0.5rem;
  }
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 10rem;
  }
  .landing__wrapper img {
    width: 4rem;
  }
  .landing-text {
    width: 14rem;
  }
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
}
