/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /*! ====Explore Section==== */
  .explore__left {
    margin-left: 2rem;
  }

  /*! ====Featured Section==== */
  .featured-title {
    margin-left: 2rem;
  }

  /*! ====Articles Section==== */
  .articles-title {
    margin-left: 2rem;
  }
  /*! ====Latest Articles Section==== */
  .latest-articles-title {
    margin-left: 2rem;
  }

  /*! ====landing Section==== */
  .landing__left {
    margin-left: 2rem;
  }

  /*! ====Benefit Section==== */
  .benefit__wrapper {
    flex-wrap: wrap;
  }
  .benefit__wrapper {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .benefit__box {
    margin-bottom: 2rem;
  }
  /*! ====Believe Section==== */
  .believe__top {
    flex-direction: column;
  }
  .believe__top-left,
  .believe__top-right {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
  }
  .believe__bottom {
    flex-wrap: wrap;
  }
  .believe__bottom-box {
    margin-bottom: 2rem;
  }
  /*! ====Team Section==== */
  .team__boxes {
    flex-wrap: wrap;
  }

  /*! ====FAQS Section==== */
  .faqs-title1,
  .faqs-title2 {
    padding-left: 2rem;
  }
  /*! ====Blog Info Section==== */

  .blog-info__imagebox {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  /*! ====Form Section==== */
  .form__wrapper {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    margin-right: 0.5rem;
  }
  /*! ====Invest Section==== */
  .invest-boxes {
    flex-wrap: wrap;
  }
  .invest-box {
    margin-bottom: 2rem;
  }

  /*! ====Trader Section==== */
  .trader__wrapper {
    flex-direction: column;
  }
  .trader__left {
    width: 80%;
    margin: 0 auto;
  }
  .trader__right {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /*! ====landing Section==== */
  .landing__wrapper {
    flex-direction: column;
  }
  .landing__left-title,
  .landing__left-text {
    text-align: center;
  }
  .landing__left-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  /*! ====Story Section==== */
  .story__top {
    padding-left: 2rem;
  }

  .story__bottom-image {
    width: 65rem;
  }
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 20rem;
  }
  .landing-shape3 {
    right: 25rem;
    top: 28rem;
  }
  .landing-shape1 {
    top: 22rem;
  }
  .landing-shape4 {
    top: 20rem;
  }

  /*! ====Statistics Section==== */
  .statistics__right {
    margin-right: 2rem;
  }
  .statistics__wrapper {
    flex-direction: column;
  }
  .statistics__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .statistics__right {
    width: 100%;
  }
  .statistics__right__wrapper {
    margin: 0 auto;
  }
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 20rem;
  }
  .pricing-image1 {
    padding-right: 2rem;
  }

  /*! ====Latest News Section==== */
  .latest-news__wrapper {
    flex-direction: column;
  }
  .latest-news__shape3 {
    right: 24rem;
    bottom: -4rem;
  }
  .latest-news__texts {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1 {
    right: 1rem;
  }
  .blog-title__icon1,
  .blog-title__icon2 {
    width: 10rem;
    height: 10rem;
  }

  /*! ====Features Section==== */
  .features__image1,
  .features__image2 {
    width: 10rem;
    height: 10rem;
  }

  /*! ====Security Section==== */
  .security__wrapper {
    flex-direction: column;
  }
  .security__left {
    width: 100%;
  }
  .security__left-title {
    margin: 0 auto;
    text-align: center;
  }
  .security__left-subtitle {
    display: block;
    width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
  }
  .security__left-text {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
  }
  .security__left-storage,
  .security__left-point {
    width: 20rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .security__right {
    width: 80%;
    margin-top: 2rem;
  }

  /*! ====Advanced Section==== */
  .advanced__wrapper {
    flex-direction: column-reverse;
  }
  .advanced {
    margin-top: 16rem;
  }
  .advanced__right__title,
  .advanced__right-text {
    text-align: center;
  }
  .advanced__right-text {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .advanced__right-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .advanced__left {
    width: 80%;
  }

  .advanced__right {
    width: 80%;
  }
  /*! ====Trading Section==== */
  .trading__wrapper {
    flex-direction: column;
  }
  .trading__left,
  .trading__right {
    width: 80%;
  }
  .trading__left__title {
    margin: 0 auto;
    text-align: center;
  }
  .trading__left-text {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .trading__left-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /*! ====Chart Section==== */
  .chart__wrapper {
    flex-direction: column-reverse;
  }
  .chart {
    margin-top: 20rem;
  }
  .chart__left,
  .chart__right {
    width: 80%;
  }
  .chart__right__title {
    text-align: center;
    margin: 0 auto;
  }
  .chart__right-text {
    text-align: center;
    margin: 0 auto;
  }
  .chart__right-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* *  ------------------------1085px------------------------ */
@media screen and (max-width: 1085px) {
  /*! ====Navbar Menu==== */
  .navbar__right-list {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 2rem;
  }
  .navbar__left {
    margin: 0 auto;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 60rem;
  }

  /*! ====Cards Section==== */
  .cards__bottom {
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 2rem;
  }
  .cards__top {
    flex-wrap: wrap;
  }
  .cards__top-box {
    margin-bottom: 2rem;
  }
  /*! ====Form Section==== */
  .form-input__row1,
  .form-input__row2 {
    flex-wrap: wrap;
  }
  .form-input__row1__name-label,
  .form-input__row1__email-label,
  .form-input__row2__company-label,
  .form-input__row2__subject-labe,
  .form-input__row3-label,
  .form-input__row2__subject-label {
    text-align: center;
  }
  .form-input__row1__name-input,
  .form-input__row1__email-input,
  .form-input__row2__company-input,
  .form-input__row2__subject-input {
    margin-bottom: 2rem;
  }
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
  /*! ====Choice Section==== */
  .choice__window {
    width: 60rem;
  }
  /*! ====Clients Section==== */
  .clients__wrapper {
    flex-direction: column;
  }
  .clients__left-title,
  .clients__left-text {
    text-align: center;
    margin-bottom: 2rem;
  }
  .clients__right-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */
  .trusted-icon1 {
    width: 14rem;
    height: 14rem;
    right: 4rem;
    top: 18rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1 {
    right: 2rem;
    top: 20rem;
  }
  .blog-title__icon2 {
    bottom: -10rem;
  }

  /*! ====Blog Info Section==== */
  .blog-info__image {
    width: 40rem;
  }
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
  /*! ====Explore Section==== */
  .explore__wrapper {
    flex-direction: column;
  }
  .explore__left {
    text-align: center;
    width: 94%;
  }
  .explore__left__btns {
    width: 25rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .explore__left-btn-start {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .explore__right {
    width: 95%;
  }

  .explore__left-title {
    width: 30rem;
    margin: 0 auto;
  }
  .explore {
    height: 40rem;
  }
  .explore__right {
    margin: 0 auto;
  }

  /*! ====Choice Section==== */
  .choice__window__bottom-left-img {
    width: 20rem;
  }
  .choice__window {
    width: 50rem;
  }

  /*! ====Trusted Section==== */
  .trusted-icon5 {
    width: 20rem;
    /* height: 10rem; */
  }
  .trusted-icon4 {
    width: 30rem;
  }
  .trusted-icon2 {
    width: 4rem;
    height: 4rem;
  }
  .trusted-icon3 {
    width: 8rem;
    height: 8rem;
  }
  .trusted-title {
    font-size: 1.8rem;
  }
  /*! ====landing Section==== */
  .landing__bottom-image {
    width: 50rem;
  }

  /*! ====Story Section==== */
  .story__bottom-image {
    width: 55rem;
  }

  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 18rem;
    bottom: -4rem;
  }
  /*! ====Writer Section==== */
  .writer__wrapper {
    flex-direction: column;
  }
  .writer__left-image {
    display: block;
    margin: 0 auto;
  }
  .writer__right__top {
    flex-direction: column;
  }
  .writer__right__top-info {
    text-align: center;
    margin-top: 1rem;
  }
  .writer__right__top-socials {
    margin: 0 auto;
    margin-top: 2rem;
    width: 20rem;
  }
  .writer__right__bottom-text {
    text-align: center;
    margin: 0 auto;
  }
  /*! ====Touch Section==== */
  .touch__wrapper {
    flex-direction: column;
  }
  .touch__left {
    margin-bottom: 2rem;
  }
  .touch__left__botttom-text {
    text-align: center;
  }
  .touch__left__top {
    margin-bottom: 1rem;
  }
}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 15rem;
  }
  /*! ====Features Section==== */
  .features__image1 {
    top: 8rem;
  }
  .features__image2 {
    top: 8rem;
  }
}

/* *  ------------------------914px------------------------ */
@media screen and (max-width: 914px) {
  /*! ====Featured Section==== */
  .featured__box {
    width: 40rem;
  }
  .featured__box {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 55rem;
  }
  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 14rem;
    bottom: -4rem;
  }
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape4 {
    left: 4rem;
  }
  .landing-title {
    font-size: 3.5rem;
  }
}

/* *  ------------------------925px------------------------ */
@media screen and (max-width: 925px) {
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 50rem;
  }
}
/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
  /*! ====Brands Section==== */
  .brands-row1,
  .brands-row2 {
    flex-wrap: wrap;
  }
  .brands-row1 svg,
  .brands-row2 svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  /*! ====Footer Top Section==== */
  .footer-top__wrapper {
    flex-direction: column;
  }
  .footer-top__left {
    margin: 0 auto;
  }
  .footer-top__left-logo {
    width: 10rem;
    margin: 0 auto;
  }
  .footer-top__left-text {
    text-align: center;
  }
  .footer-top__right {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
  /*! ====Choice Section==== */
  .choice__window__bottom {
    flex-direction: column;
  }
  .choice__window__bottom-right-tag {
    margin: 0 auto;
    margin-top: 1rem;
  }
  .choice__window__bottom-right-rate {
    text-align: center;
  }
  .choice__window__bottom-right-text {
    text-align: center;
  }
  .choice__window {
    width: 40rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 45rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__image {
    width: 30rem;
  }
  .blog-info__texts-text {
    width: 40rem;
    text-align: center;
  }
  .blog-info__texts-title {
    width: 25rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .blog-info__texts-list1,
  .blog-info__texts-list2 {
    width: 30rem;
    margin: 0 auto;
  }
  .blog-info__texts-qoute {
    width: 40rem;
  }
  .blog-info__texts-qoute-text {
    font-size: 1.4rem;
  }
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
  /*! ====Footer Main Section==== */
  .footer-main__wrapper {
    flex-wrap: wrap;
  }
  /*! ====landing Section==== */
  .landing__right-image {
    width: 30rem;
  }
  .landing__left-title {
    font-size: 3.5rem;
  }
  .landing__left-text {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /*! ====Pricing Section==== */
  .pricing-image1,
  .pricing-image2 {
    width: 12rem;
  }

  /*! ====FAQS Section==== */
  .accordion {
    font-size: 1.1rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1 {
    right: 2rem;
    top: 20rem;
  }
  .blog-title__icon2 {
    bottom: -10rem;
  }
  .blog-title__title {
    font-size: 3.2rem;
    width: 40rem;
  }
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
  /*! ====Landing Section==== */
  .landing-shape2 {
    top: 30rem;
  }
  .landing-shape4 {
    top: 24rem;
    left: 2rem;
  }
  .landing-shape3 {
    top: 30rem;
  }
  .landing-text {
    width: 34rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing-title {
    font-size: 3rem;
  }
  /*! ====Featured Section==== */
  .featured__box {
    width: 35rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 25rem;
  }
  .trader__right-box {
    flex-direction: column;
  }
  .trader__right-box-right-title {
    display: block;
    text-align: center;
  }
  .trader__right-box-right-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */

  .trusted-title {
    width: 30rem;
    text-align: center;
  }
  .trusted-icon1 {
    top: 22rem;
  }
  .trusted__form-input {
    width: 24rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 40rem;
  }
  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 10rem;
    bottom: -4rem;
  }
}

/* *  ------------------------700px------------------------ */
@media screen and (max-width: 700px) {
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 34rem;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
}

/* *  ------------------------680px------------------------ */
@media screen and (max-width: 680px) {
  /*! ====Footer Main Section==== */
  .footer-main__column1 {
    width: 40%;
    text-align: center;
  }
  .footer-main__column2 {
    width: 40%;
    text-align: center;
  }
  .footer-main__column1-item {
    text-align: center;
  }
  .footer-main__column3 {
    margin-top: 2rem;
  }
  .footer-main__column3-title {
    display: block;
    text-align: center;
  }
  .footer-main__column3-text {
    text-align: center;
  }

  /*! ====Story Section==== */
  .story__bottom-image {
    width: 35rem;
  }
  .story__top {
    text-align: center;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-text {
    width: 30rem;
  }
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
  /*! ====Landing Section==== */
  .landing-shape4 {
    top: 22rem;
    left: 8rem;
  }
  .landing-shape1 {
    left: 24rem;
  }
  .landing-title {
    font-size: 2.5rem;
  }
  .landing__wrapper img {
    width: 6rem;
  }
  .landing-shape2 {
    right: 10rem;
  }

  /*! ====Statistics Section==== */
  .statistics__left-box {
    text-align: center;
  }
  .statistics__left-box {
    justify-content: space-between;
  }

  /*! ====Choice Section==== */
  .choice__window {
    width: 30rem;
  }

  /*! ====Featured Section==== */
  .featured__box {
    width: 30rem;
  }

  /*! ====Pricing Section==== */
  .pricing__wrapper {
    flex-direction: column;
  }
  .pricing-texts {
    order: 1;
  }
  .pricing-image1 {
    order: 2;
  }
  .pricing-image2 {
    order: 3;
  }
  .pricing-text {
    width: 25rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1 {
    right: 2rem;
    top: 20rem;
    width: 8rem;
    height: 8rem;
  }
  .blog-title__icon2 {
    bottom: -10rem;
    width: 8rem;
    height: 8rem;
  }
  .blog-title__title {
    font-size: 2.8rem;
    width: 35rem;
  }
  .blog-title__text {
    width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  /*! ====Blog Info Section==== */
  .blog-info__texts-qoute {
    width: 30rem;
    padding: 1rem;
  }
  .blog-info__texts-qoute-text {
    font-size: 1.2rem;
  }
  /*! ====Writer Section==== */
  .writer__right__bottom-text {
    width: 30rem;
  }
  /*! ====Trading Section==== */
  .trading__right-image {
    width: 25rem;
    height: 25rem;
  }
  .trading__right {
    height: 25rem;
  }
  /*! ====Chart Section==== */
  .chart__left-image {
    width: 25rem;
    height: 25rem;
  }
  .chart__left {
    height: 25rem;
  }
  .chart__right-text {
    width: 25rem;
  }
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
  /*! ====Security Section==== */
  .security__right-image {
    width: 24rem;
  }
  /*! ====Advanced Section==== */
  .advanced__left-image {
    width: 25rem;
    height: 28rem;
    margin-top: 8rem;
  }
  .advanced__right-text {
    width: 25rem;
  }
}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
  /*! ====Landing Section==== */
  .landing-text {
    width: 28rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 30rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__image {
    width: 24rem;
  }
  /*! ====Features Section==== */
  .features__image1,
  .features__image2 {
    width: 8rem;
    height: 8rem;
  }
  .features__texts-title {
    font-size: 3.4rem;
  }
  .features__texts-text {
    width: 24rem;
  }
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
  /*! ====Featured Section==== */
  .featured__box {
    width: 25rem;
  }
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 28rem;
  }
  /*! ====Story Section==== */
  .story__top-title {
    font-size: 1.5rem;
  }
  .story__top-subtitle {
    font-size: 1rem;
  }
  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 8rem;
    bottom: -4rem;
  }
  .latest-news__texts-text {
    width: 24rem;
  }

  /*! ====Recent News Section==== */
  .recent-news__box {
    width: 25rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1 {
    right: 4rem;
  }
  .blog-title__icon2 {
    left: 4rem;
  }
  .blog-title__title {
    font-size: 2rem;
    width: 25rem;
  }
  .blog-title__text {
    width: 25rem;
  }
  /*! ====Writer Section==== */
  .writer__right__bottom-text {
    width: 20rem;
  }
}

/* *  ------------------------564px------------------------ */
@media screen and (max-width: 564px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 26rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 3rem;
  }
  .landing__right-image {
    width: 25rem;
  }
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
  /*! ====Articles Section==== */
  .articles__box {
    width: 20rem;
    height: 28rem;
  }
  .articles__box-title {
    font-size: 1.2rem;
  }
  .articles__box-text {
    font-size: 0.9rem;
  }

  /*! ====Latest Articles Section==== */
  .latest-articles__box {
    width: 20rem;
    height: 28rem;
  }
  .latest-articles__box-title {
    font-size: 1.2rem;
  }
  .latest-articles__box-text {
    font-size: 0.9rem;
  }
  /*! ====Trading Section==== */
  .trading__left-text {
    width: 25rem;
  }
  .trading__right-image {
    width: 22rem;
    height: 22rem;
  }
  .trading__right {
    height: 22rem;
  }
}

/* *  ------------------------545px------------------------ */
@media screen and (max-width: 545px) {
  /*! ====Landing Section==== */
  .landing-title {
    font-size: 2rem;
  }
  .landing-text {
    width: 24rem;
  }

  /*! ====Explore Section==== */
  .explore__left {
    width: 88%;
  }
  .explore__left-text {
    width: 24rem;
    margin: 0 auto;
    text-align: center;
  }
  .explore__left-title {
    width: 28rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 20rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-list1,
  .blog-info__texts-list2,
  .blog-info__texts-text {
    width: 25rem;
  }
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
  /*! ====Featured Section==== */
  .featured-title {
    font-size: 1.8rem;
  }
  /*! ====Clients Section==== */
  .clients__left-text {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /*! ====Trusted Section==== */
  .trusted__form-input {
    width: 20rem;
  }
  .trusted-icon1 {
    width: 10rem;
    height: 10rem;
  }
  .trusted-icon3 {
    width: 5rem;
    height: 5rem;
    right: 2rem;
  }
  .trusted-title {
    width: 25rem;
    font-size: 1.2rem;
  }
  .trusted-title-line3-image {
    width: 2.5rem;
    height: 2.5rem;
  }
  .trusted-icon4 {
    width: 18rem;
  }
  .trusted-icon5 {
    width: 14rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-qoute {
    width: 25rem;
    padding: 1rem;
  }
  .blog-info__texts-qoute-text {
    font-size: 1rem;
  }
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
  /*! ====Footer Bottom Section==== */
  .footer-bottom-text {
    line-height: 1.4rem;
  }
  /*! ====Chart Section==== */
  .chart__left-image {
    width: 20rem;
    height: 20rem;
  }
  .chart__left {
    height: 20rem;
  }
  .chart__right-text {
    width: 20rem;
  }
  /*! ====Touch Section==== */
  .touch__left__top-title {
    font-size: 2.8rem;
    margin: 0 auto;
  }
  .touch__left__top-image {
    width: 5rem;
    height: 5rem;
  }
  .touch__left__botttom-text {
    width: 25rem;
  }
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
  /*! ====Footer Top Section==== */
  .footer-top__left-text {
    width: 25rem;
  }
  /*! ====Footer Main Section==== */
  .footer-main__column1,
  .footer-main__column2 {
    width: 100%;
  }
  .footer-main__column3-text {
    width: 22rem;
    /* text-align: center; */
    margin: 0 auto;
  }
  .footer-main__column3-notif {
    width: 20rem;
  }
  .footer-main__column3-text {
    margin-top: 2rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__image {
    width: 20rem;
  }
  /*! ====Features Section==== */
  .features__image1,
  .features__image2 {
    width: 6rem;
    height: 6rem;
  }
  .features__texts-title {
    font-size: 2.8rem;
  }
  /*! ====Form Section==== */
  .form-input__row1__name-input,
  .form-input__row1__email-input,
  .form-input__row2__company-input,
  .form-input__row2__subject-input {
   width: 20rem;
   padding: 1rem 1rem;
  }
  .form-input__row1__name-input::placeholder,
.form-input__row1__email-input::placeholder,
.form-input__row2__company-input::placeholder,
.form-input__row2__subject-input::placeholder {
  text-align: center;
}
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 20rem;
  }

  /*! ====Landing Section==== */
  .landing-shape3 {
    left: 2.5rem;
  }
  .landing-shape2 {
    right: 4rem;
  }
  .landing-shape1 {
    left: 18rem;
  }
  .landing-title {
    font-size: 1.5rem;
  }
  .landing-text {
    width: 22rem;
  }
  .landing-shape4 {
    left: 2rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 18rem;
  }
  .explore {
    height: 88rem;
  }
  .explore__right-list {
    width: 20rem;
  }
  .explore__right-list-box {
    flex-direction: column;
    text-align: center;
  }
  .explore__right-list {
    height: 58rem;
  }
  .explore__left__btns {
    flex-direction: column;
    justify-content: center;
  }
  .explore__left-support {
    margin-bottom: 2rem;
  }
  .explore__left-btn-start {
    width: 14rem;
  }
  .explore__right-list {
    width: 18rem;
  }
  .explore__left__btns {
    width: 18rem;
  }
  .explore__left-text {
    width: 14rem;
  }
  .explore__right-list-box div {
    margin-bottom: 1rem;
  }

  /*! ====Choice Section==== */
  .choice__window__bottom-left-img {
    width: 14rem;
  }
  .choice__window {
    width: 25rem;
  }
  .choice__window__bottom-right-rate {
    font-size: 2rem;
  }
  .choice__window__bottom-right-text {
    width: 14rem;
  }

  /*! ====Featured Section==== */
  .featured__box {
    width: 20rem;
  }

  .featured-title {
    font-size: 1.4rem;
  }

  /*! ====Clients Section==== */
  .clients__right-box-top {
    flex-direction: column;
  }
  .clients__right-box-top--right {
    margin-top: 1rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 2.5rem;
  }
  .landing__right-image {
    width: 20rem;
  }

  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 25rem;
  }
  .believe__bottom-box {
    width: 20rem;
    height: 18rem;
  }
  /*! ====Story Section==== */
  .story__bottom-image {
    width: 20rem;
  }
  .story__top-text {
    font-size: 0.9rem;
  }

  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 4rem;
  }
  .latest-news__texts-inputbox {
    width: 20rem;
  }
  .latest-news__texts-title {
    font-size: 3.4rem;
  }

  /*! ====Recent News Section==== */
  .recent-news__box {
    width: 20rem;
  }
  .recent-news__box-title {
    font-size: 1.4rem;
  }
  /*! ====Security Section==== */
  .security__right-image {
    width: 20rem;
    height: 22rem;
  }
  .security__right {
    height: 28rem;
  }
  .security__left-text {
    width: 22rem;
  }
  .security__left-subtitle {
    width: 22rem;
    font-size: 1rem;
  }
  /*! ====Advanced Section==== */
  .advanced__left-image {
    width: 20rem;
    height: 25rem;
    margin-left: 2rem;
  }
  .advanced__right-text {
    width: 22rem;
  }
  /*! ====Trading Section==== */
  .trading__right-image {
    width: 16rem;
    height: 16rem;
  }
  .trading__right {
    height: 18rem;
  }
  .trading__left-text {
    width: 20rem;
  }
  .trading__left__title {
    width: 20rem;
  }
}

/* *  ------------------------460px------------------------ */
@media screen and (max-width: 460px) {
  /*! ====Articles Section==== */
  .articles-title {
    font-size: 1.4rem;
  }
  /*! ====Latest Articles Section==== */
  .latest-articles-title {
    font-size: 1.4rem;
  }
  /*! ====Trusted Section==== */
  .trusted__form-input {
    width: 14rem;
  }
  .trusted-icon5 {
    width: 10rem;
    /* height: 10rem; */
  }
  .trusted-icon4 {
    width: 10rem;
  }
  .trusted-title {
    width: 20rem;
    font-size: 1rem;
  }
  .trusted__form-btn {
    font-size: 1rem;
  }
  .trusted__form-input {
    width: 12rem;
  }
  .trusted__form-input::placeholder {
    font-size: 1rem;
  }
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 22rem;
  }
  .statistics__right--left-bottom {
    padding-bottom: 2rem;
  }

  /*! ====Trader Section==== */
  .trader__left-list {
    width: 14rem;
  }
  .trader__left-list-item-name {
    font-size: 0.9rem;
  }
  .trader__left-list-item {
    flex-direction: column;
    align-items: center;
  }
  .trader__left-list {
    height: 30rem;
  }
  .trader__left {
    height: 40rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-list1,
  .blog-info__texts-list2,
  .blog-info__texts-text,
  .blog-info__texts-title {
    width: 20rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-qoute {
    width: 20rem;
    padding: 1rem;
  }
  .blog-info__texts-qoute-text {
    font-size: 1rem;
  }
  .blog-info__texts-qoute-comma {
    font-size: 1.5rem;
  }
  /*! ====Touch Section==== */
  .touch__right__phone,
  .touch__right__email {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .touch__right__email-data {
    margin-left: 2rem;
  }
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
  /*! ====Invest Section==== */
  .invest-title {
    font-size: 1.5rem;
  }
  .invest-boxes {
    width: 100%;
  }
  .invest-box {
    width: 18rem;
  }
  .invest-box__bottom svg,
  .invest-box__top svg {
    width: 100%;
  }

  /*! ====Choice Section==== */
  .choice__window {
    width: 20rem;
  }
  /*! ====Footer Top Section==== */

  .footer-top__right-icons {
    flex-wrap: wrap;
  }
  .footer-top__left-text {
    width: 18rem;
  }
  .footer-top__right {
    flex-direction: column;
  }
  .footer-top__right-icons {
    margin-top: 1rem;
  }

  /*! ====Footer Main Section==== */
  .footer-main__column3-notif {
    width: 14rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .footer-main__column3-text {
    width: 14rem;
  }

  /*! ====Benefit Section==== */
  .benefit__box-title {
    font-size: 2rem;
  }
  /*! ====Believe Section==== */
  .believe__top-right-text {
    width: 20rem;
  }
  .believe__bottom-box {
    width: 16rem;
    height: 20rem;
  }
  .believe__bottom-box--top-number {
    font-size: 5em;
  }
  .believe__top-left--title {
    font-size: 1.4rem;
  }

  /*! ====Team Section==== */
  .team-title {
    font-size: 1.6rem;
  }
  .team__box {
    margin: 0 auto;
    margin-top: 1rem;
  }
  /*! ====Pricing Section==== */
  .pricing-text {
    width: 14rem;
  }
  .pricing-title {
    font-size: 2.5rem;
  }
  /*! ====Latest News Section==== */
  .latest-news__shape3 {
    right: 4rem;
  }
  .latest-news__shape2-image,
  .latest-news__shape1-image {
    width: 10rem;
    height: 10rem;
  }
  .latest-news__shape3-image {
    width: 14rem;
    height: 14rem;
  }
  .latest-news__texts-title {
    font-size: 2.8rem;
  }
  .latest-news__texts-text {
    width: 20rem;
  }

  /*! ====Blog Title Section==== */
  .blog-title__icon1,
  .blog-title__icon2 {
    width: 5rem;
    height: 5rem;
  }
  .blog-title__title {
    font-size: 1.5rem;
  }
  .blog-title__text,
  .blog-title__title {
    width: 20rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__image {
    width: 16rem;
  }
  /*! ====Writer Section==== */
  .writer__right__bottom-text {
    width: 16rem;
  }
  .writer__right__top-socials {
    width: 16rem;
  }

  /*! ====Features Section==== */
  .features__texts-title {
    font-size: 2rem;
  }
  .features__texts-text {
    width: 17rem;
  }
  .features__image1,
  .features__image2 {
    top: 10rem;
  }
  /*! ====Security Section==== */
  .security__right-image {
    width: 18rem;
    height: 20rem;
  }
  /*! ====Advanced Section==== */
  .advanced__left-image {
    width: 16rem;
    height: 20rem;
    margin-top: 8rem;
  }
  .advanced__left {
    height: 25rem;
  }
  .advanced__right-text {
    width: 16rem;
  }
  /*! ====Chart Section==== */
  .chart__left-image {
    width: 16rem;
    height: 16rem;
  }
  .chart__left {
    width: 18rem;
  }
  .chart__right__title {
    width: 16rem;
  }
  /*! ====Touch Section==== */
  .touch__left__botttom-text {
    width: 20rem;
    margin: 0 auto;
  }
  .touch__left__top-title {
    font-size: 2rem;
  }
  .touch__left__top-image {
    width: 4rem;
    height: 4rem;
  }
  .touch__right__phone-data-title,
  .touch__right__email-data-title {
    font-size: 1.2rem;
  }
  .touch__right__phone-data-number,
  .touch__right__email-data-email {
    font-size: 1rem;
  }
  .touch__right__phone,
  .touch__right__email {
    padding: 0.5rem;
  }
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 14rem;
  }
  .landing__wrapper img {
    width: 4.5rem;
  }
  .landing-text {
    width: 18rem;
    font-size: 0.8rem;
  }
  .landing-title {
    font-size: 1rem;
  }
  /*! ====Featured Section==== */
  .featured__box {
    width: 15rem;
  }
  /*! ====Articles Section==== */
  .articles__box {
    width: 16rem;
    height: 28rem;
  }
  /*! ====Latest Articles Section==== */
  .latest-articles__box {
    width: 16rem;
    height: 28rem;
  }

  /*! ====landing Section==== */
  .landing__left-title {
    font-size: 2rem;
  }
  .landing__right-image {
    width: 14rem;
  }

  /*! ====Recent News Section==== */
  .recent-news__box {
    width: 16rem;
  }
  /*! ====Security Section==== */
  .security__right-image {
    width: 16rem;
    height: 18rem;
  }
  .security__left-subtitle {
    width: 18rem;
    line-height: 1.4rem;
  }
  .security__left-text {
    width: 18rem;
  }
  .security__left-storage,
  .security__left-point {
    width: 18rem;
  }
    /*! ====Form Section==== */
    .form-input__row1__name-input,
    .form-input__row1__email-input,
    .form-input__row2__company-input,
    .form-input__row2__subject-input {
     width: 16rem;
    }
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
  /*! ====Statistics Section==== */
  .statistics__right__wrapper {
    width: 18rem;
  }
  .statistics__left-box__left {
    font-size: 2rem;
  }
  .statistics__left-box {
    margin-right: 0.5rem;
  }

  /*! ====Featured Section==== */
  .featured-title {
    font-size: 1.2rem;
  }
  /*! ====Cards Section==== */
  .cards__top-box-text {
    font-size: 0.8rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-list1,
  .blog-info__texts-list2,
  .blog-info__texts-text,
  .blog-info__texts-title {
    width: 16rem;
  }
  /*! ====Blog Info Section==== */
  .blog-info__texts-qoute {
    width: 16rem;
    padding: 1rem;
  }
  .blog-info__texts-qoute-text {
    font-size: 0.9rem;
  }
  .blog-info__texts-qoute-comma {
    font-size: 1.2rem;
  }
  /*! ====Trading Section==== */
  .trading__left-text {
    width: 16rem;
  }
  .trading__left__title {
    width: 18rem;
  }
  /*! ====Chart Section==== */
  .chart__right-text {
    width: 16rem;
  }
  .chart__right__title {
    font-size: 1.8rem;
  }
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
  /*! ====Explore Section==== */
  .explore__right-list {
    width: 14rem;
    margin: 0 auto;
  }
}

/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
}

/* *  ------------------------350px------------------------ */
@media screen and (max-width: 350px) {
  /*! ====Statistics Section==== */
  .statistics__left-box {
    flex-direction: column;
  }
  .statistics__right__wrapper {
    width: 14rem;
  }
  .statistics__left-box {
    width: 16rem;
  }

  /*! ====Explore Section==== */
  .explore__left__btns {
    width: 12rem;
  }

  /*! ====Brands Section==== */
  .brands-row1 svg,
  .brands-row2 svg {
    width: 6rem;
    height: 6rem;
  }
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
  /*! ====Navbar Menu==== */
  .mobile-menu {
    width: 14rem;
  }

  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 12rem;
  }

  /*! ====Explore Section==== */
  .explore__left-title {
    width: 16rem;
  }
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
  /*! ====Navbar Menu==== */
  .mobile-menu-btn {
    padding: 0.2rem 0.5rem;
  }
  /*! ====Landing Section==== */
  .landing-shape1 {
    left: 10rem;
  }
  .landing__wrapper img {
    width: 4rem;
  }
  .landing-text {
    width: 14rem;
  }
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
}
