/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^======================== */
/*^ Terms Section */
/* ^========================*/
.terms {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.terms__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.terms__image1 {
  width: 10rem;
  height: 12rem;
}
.terms__image2 {
  width: 10rem;
  height: 12rem;
}

.terms__texts-date {
  background-color: #d3f4e4;
  padding: 0.5rem;
  border-radius: 2rem;
  display: block;
  width: 14rem;
  text-align: center;
  margin: 0 auto;
  color: #42b57e;
  font-family: "inter-bold", Courier, monospace;
  text-transform: capitalize;
}

.terms__texts-title {
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
  text-align: center;
  margin-top: 1rem;
}

.terms__texts-text {
  text-align: center;
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  width: 34rem;
  font-size: 1, 2rem;
  margin-top: 2rem;
  line-height: 1.4rem;
}

/* ^======================== */
/*^ Texts Section */
/* ^========================*/

.text__wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid var(--boulder);
  padding-top: 4rem;
}

.texts__title {
  font-size: 1.8rem;
  font-family: "inter-bold", Courier, monospace;
  margin-bottom: 1rem;
}

.texts__text {
  font-family: "inter-medium", Courier, monospace;
  color: var(--boulder);
  margin-bottom: 2rem;
  line-height: 1.2rem;
}

.texts__text-highlight-black {
  color: var(--darkJungleGreen);
  font-family: "inter-bold", Courier, monospace;
}

.texts__text-highlight-blue {
  color: var(--cornFlower);
  font-family: "inter-bold", Courier, monospace;
}
.texts__text-highlight-red {
  color: #ff5d9e;
  font-family: "inter-bold", Courier, monospace;
}
.texts__text-highlight-orange {
  color: #ffb355;
  font-family: "inter-bold", Courier, monospace;
}

.texts__box {
  background-color: #ffe5e5;
  padding: 1rem;
  width: 40rem;
  height: 25rem;
  margin: 0 auto;
  border-radius: 2rem;
  border: 2px solid #ff2626;
  margin-bottom: 2rem;
}

.texts__box-image {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: 0 auto;
}

.texts__box-text {
  text-align: center;
  font-family: "inter-medium", Courier, monospace;
  margin-top: 2rem;
  color: #ca3b3b;
  line-height: 1.4rem;
}
