/** ========Import Css Modules======== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./mobile-menu.css";

/** ========Css Variables======== */
:root {
  --cornFlower: #7781ff;
  --brightSkyBlue: #27caea;
  --darkJungleGreen: #212326;
  --boulder: #797979;
  --white: #ffff;
}

/** ========Button Colors ======== */
.btn-gradient {
  background: rgb(255, 81, 150);
  background: linear-gradient(
    90deg,
    rgba(255, 81, 150, 1) 0%,
    rgba(119, 130, 255, 1) 32%,
    rgba(37, 246, 255, 1) 69%
  );
}

.btn-gunMetal {
  background-color: #263238;
}

.btn-aquaHaze {
  background-color: #f3f3f3;
}

.btn-white {
  background-color: #ffffff;
}

/** ========Container Size ======== */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* *=================================================== */
/**=====Main Section===== */
/* *=================================================== */

/* ^================== */
/*^ Tokens Section */
/* ^==================*/

.tokens {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.tokens__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tokens__texts-title {
  text-align: center;
  font-size: 4rem;
  font-family: "inter-bold", Courier, monospace;
}

.tokens__texts-text {
  text-align: center;
  width: 30rem;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: var(--boulder);
  font-family: "inter-medium", Courier, monospace;
}

/* ^================== */
/*^ Table Section */
/* ^==================*/

.table {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

#table-chart {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  transition: all 140ms ease-in;
}

#table-chart td,
#table-chart th {
  padding: 8px;
  font-family: "inter-medium", Courier, monospace;
}
#table-chart th {
  height: 4rem;
  line-height: 2rem;
}

#table-chart tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-chart tr:hover {
  background-color: #9ddbaa;
  color: var(--white);
  cursor: pointer;
  border-radius: 1rem;
}

#table-chart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #263238;
  color: white;
  font-family: "inter-bold", Courier, monospace;
}

.table__data {
  align-items: center;
}

.table__data__box {
  display: flex;
  align-items: center;
}
.table__data__box-name {
  margin-left: 1rem;
}
.table__data__box-image {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.table__data__box-name {
  color: var(--boulder);
}
td:nth-child(3) {
  color: #3eba59;
}

/* .table__header:nth-child(6) {
  border-top-right-radius: 1rem;
}
.table__header:nth-child(1) {
  border-top-left-radius: 1rem;
} */

tr {
  transition: all 140ms ease-in;
}
.table__row:hover {
  transform: scale(1.01);
}

.table__row {
  border-radius: 1rem;
}

.red {
  color: red;
}
.green {
  color: #3eba59;
}

.table__header__icon {
  width: 2rem;
  height: 2rem;
}

.up-token,
.down-token {
  width: 1.2rem;
  height: 1.2rem;
}


/* ^====================== */
/*^ pagination Section */
/* ^======================*/

.pagination__list-item svg{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.pagination__list{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  width: 30rem;
  /* background-color: red; */
  margin: 0 auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  padding: 2rem;
}

.pagination__list-item{
  margin: 0 auto;
  font-family: "inter-bold", Courier, monospace;
  cursor: pointer;
  font-size: 2rem;



}

.pagination__list-item-link{
  color: var(--darkJungleGreen);

  padding: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}

.active-page{
  background-color: var(--cornFlower);
  color: var(--white);
}



